
<div style="clear: both;"/>
<h3><%= l(:new_task) %></h3>
<% if @added_tasks.any? %>
  <table class="list">
  <tr>
    <th><%= l(:title) %></th>
    <th><%= l(:tracker) %></th>
    <th><%= l(:assign) %></th>
    <th><%= l(:start_date) %></th>
    <th><%= l(:finish_date) %></th>
    <th><%= l(:create_date) %></th>
  </tr>
    <% @added_tasks.each_with_index do |task, i| %>
    <tr>
      <td><%= link_to task.subject, {:controller => 'issues', :action => 'show', :id => task.id}, :name => 'trackers[]' %></td>
      <td align="center"><%= task.tracker.name %></td>
      <td align="center" class="assigned-to"><%= task.assigned_to ? link_to_user(task.assigned_to) : '-' %></td>
      <td align="center"><%= task.start_date %></td>
      <td align="center"><%= task.due_date %></td>
      <td align="center"><%= task.created_on %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<br />
<h3><%= l(:modified_task) %></h3>
<% if @updated_tasks.any? %>
  <table class="list">
    <tr>
    <th><%= l(:title) %></th>
    <th><%= l(:tracker) %></th>
    <th><%= l(:assign) %></th>
    <th><%= l(:start_date) %></th>
    <th><%= l(:finish_date) %></th>
    <th><%= l(:create_date) %></th>
    </tr>
    <% @updated_tasks.each_with_index do |task, i| %>
    <tr>
    <td><%= link_to task.subject, {:controller => 'issues', :action => 'show', :id => task.id}, :name => 'trackers[]' %></td>
    <td align="center"><%= task.tracker.name %></td>
    <td align="center" class="assigned-to"><%= task.assigned_to ? link_to_user(task.assigned_to) : '-' %></td>
    <td align="center"><%= task.start_date %></td>
    <td align="center"><%= task.due_date %></td>
    <td align="center"><%= task.created_on %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<br />
<h3><%= l(:failed_task) %></h3>
<% if @failed_tasks.any? %>
  <table class="list">
    <tr>
    <th><%= l(:title) %></th>
    <th><%= l(:error_message) %></th>
    </tr>
    <% @failed_tasks.each do |title, message| %>
    <tr>
    <td><%= title.present? ? title : l(:no_title) %></td>
    <td align="center"><%= message %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
